header {
  display: flex;
  justify-content: center;
  position: relative;
}
header img {
  width: 12rem;
  padding: 0.9rem;
}

header a {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: #fff;
  font-size: 1.35rem;
  padding: 0.9rem;
  color: #000;
}

#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e6e6;
  height: 3rem;
  border-top: solid 2px #cac5c5;
}
#formulaire i {
  margin-right: 1rem;
}

input {
  background-color: #e9e6e6;
  width: 100%;
  border: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #333333;
  color: #fff;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
footer li {
  list-style-type: none;
}
footer a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
footer a:hover {
  text-decoration: underline;
}
footer a p {
  margin-left: 1rem;
}
footer a i {
  margin: auto 0.5rem;
}

.logo-footer {
  width: 8rem;
  margin: 1rem 2rem;
  filter: invert(79%) sepia(99%) saturate(0%) hue-rotate(112deg) brightness(116%) contrast(100%);
}

#presentation {
  background-color: #f2f2f2;
  height: 17rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#presentation a {
  text-decoration: none;
  color: #fff;
}
#presentation h2 {
  padding: 2rem 3rem;
  padding-bottom: 1rem;
}
#presentation p {
  padding: 0 1rem;
  padding-bottom: 2rem;
  color: grey;
}

.pink-btn {
  width: 16rem;
  margin: 2rem auto;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px #0000002e;
}
.pink-btn:hover {
  background: #ff93e1;
  box-shadow: 5px 10px 10px #0000002e;
}

.grey-btn {
  justify-content: start;
  align-items: center;
  width: 90%;
  background-color: #f5f4f4;
  border: none;
  text-decoration: none;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 5px 5px 10px #0000002e;
  font-family: "Roboto", sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.grey-btn i {
  padding-left: 2rem;
  padding-right: 2rem;
}
.grey-btn:hover {
  cursor: pointer;
  color: #9356dc;
  background-color: #f2eafb;
}
.grey-btn:hover p {
  color: #000;
}

.numero {
  font-family: "Roboto", sans-serif;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin-left: -2rem;
}

.white-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: none;
  padding-top: 1rem;
  margin: 1rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 5px 5px 10px #0000002e;
  font-family: "Roboto", sans-serif;
  animation: cascade 1s linear 0s;
}
.white-btn .entitled {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.white-btn .description {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.white-btn .text {
  text-align: start;
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 70%;
}
.white-btn .price {
  padding-top: 1.2rem;
  padding-left: 0.2rem;
  width: 30%;
}
.white-btn .checkbox {
  box-sizing: border-box;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  margin-top: -1rem;
}
.white-btn .checkbox .fa-check {
  color: #99e2d0;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.3rem;
  opacity: 0;
  transition: transform 0.5s;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
#fonctionnement h2 {
  font-family: "Roboto", sans-serif;
  margin: 2rem 1rem;
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#restaurants a {
  width: 100%;
  text-decoration: none;
  color: #000;
}
#restaurants figure {
  margin: 0.8rem 1.5rem;
}
#restaurants figure img {
  position: relative;
  width: 100%;
  height: 15rem;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.new {
  position: absolute;
  color: green;
  background: #99e2d0;
  padding: 0.5rem 0.8rem;
  margin-left: -6.5rem;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

#restaurants h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

figcaption {
  position: relative;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 10px #0000002e;
  font-family: "Roboto", sans-serif;
  height: 4.5rem;
  padding: 1rem;
}
figcaption .moncoeur {
  width: 2rem;
  position: absolute;
  right: 1rem;
}
figcaption .far {
  position: relative;
  font-size: 2rem;
}
figcaption .fas {
  position: absolute;
  font-size: 2.1rem;
  right: -0.05rem;
  line-height: 2.005rem;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}
figcaption .fas:hover {
  opacity: 1;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#menu img {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}
#menu h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.1rem;
  text-align: start;
  margin-left: 1.1rem;
}
#menu h3::after {
  content: "";
  display: block;
  width: 2.7rem;
  padding-top: 3px;
  border-bottom: 3px solid #99e2d0;
}

.detail-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 35px;
  margin-top: -3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  padding-bottom: 5rem;
}

.titre-menu {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  padding: 1rem 3rem;
}
.titre-menu h2 {
  font-size: 1.7rem;
  letter-spacing: 0.5px;
}
.titre-menu i {
  font-size: 1.7rem;
  line-height: 2.5rem;
  padding-left: 2rem;
}

.menu-coeur {
  display: flex;
  justify-content: space-between;
}

.moncoeur2 {
  width: 2rem;
  position: absolute;
  right: 4rem;
}
.moncoeur2 .far {
  position: relative;
  font-size: 2rem;
}
.moncoeur2 .fas {
  position: absolute;
  top: 0;
  left: 0.01rem;
  font-size: 2rem;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}
.moncoeur2 .fas:hover {
  opacity: 1;
}

.wrap {
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: #34495e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: a3 1s linear 2.5s 1 forwards;
}

.loading {
  width: 12.5rem;
  height: 12.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  position: relative;
  animation: a1 2s linear infinite;
}

.loading::before,
.loading::after {
  content: "";
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before {
  border-top: 10px solid #ff79da;
  transform: rotate(120deg);
}

.loading::after {
  border-top: 10px solid #99e2d0;
  transform: rotate(240deg);
}

.loading span {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  color: #fff;
  text-align: center;
  line-height: 12.5rem;
  font-size: 1.5rem;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes a3 {
  to {
    transform: scale(0, 0);
  }
}
.white-btn1 {
  animation: cascade 1.5s linear 0s;
}

.white-btn2 {
  animation: cascade 2s linear 0s;
}

.white-btn3 {
  animation: cascade 2.5s linear 0s;
}

.white-btn4 {
  animation: cascade 3s linear 0s;
}

.white-btn5 {
  animation: cascade 3.5s linear 0s;
}

.white-btn6 {
  animation: cascade 4s linear 0s;
}

.white-btn7 {
  animation: cascade 4.5s linear 0s;
}

.white-btn8 {
  animation: cascade 5s linear 0s;
}

.white-btn9 {
  animation: cascade 5.5s linear 0s;
}

@keyframes cascade {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.white-btn:hover .checkbox {
  animation: coulisse 0.5s linear forwards;
}

.white-btn:hover .fa-check {
  transform: rotate(1turn);
  opacity: 1;
}

.white-btn:active .checkbox {
  animation: coulisse 0.5s linear forwards;
}

.white-btn:active .fa-check {
  transform: rotate(1turn);
  opacity: 1;
}

@keyframes coulisse {
  0% {
    min-width: 0;
  }
  100% {
    min-width: 4rem;
  }
}
@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(1turn);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .grey-btn {
    width: 40%;
  }

  .menus-accueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .moncoeur2 {
    right: 8rem;
  }

  #restaurants a {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .boutons-fonctionnement {
    display: flex;
  }
  .boutons-fonctionnement .grey-btn {
    width: 30%;
  }

  #restaurants a {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  #restaurants figure img {
    height: 17rem;
  }

  .detail-menu {
    width: 90%;
  }

  .mymenu {
    display: flex;
  }

  .aliments {
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }

  .white-btn {
    width: 90%;
  }

  #menu img {
    height: 40rem;
  }

  #menu h3 {
    margin-left: 5rem;
    padding: 1.5rem;
  }

  .titre-menu h2 {
    margin-left: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
