@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/layouts/header";
@import "./sass/layouts/form";
@import "./sass/layouts/footer";
@import "./sass/layouts/presentation";
@import "./sass/components/pink-btn";
@import "./sass/components/grey-btn";
@import "./sass/components/white-btn";
@import "./sass/layouts/fonctionnement";
@import "./sass/layouts/restaurants";
@import "./sass/layouts/menus";
@import "./sass/base/animations";
@import "./sass/base/body";

@media screen and (min-width: 768px) {
  .grey-btn {
    width: 40%;
  }

  .menus-accueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .moncoeur2 {
    right: 8rem;
  }

  #restaurants a {
    width: 50%;
  }

  .white-btn {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  .boutons-fonctionnement {
    display: flex;
    .grey-btn {
      width: 30%;
    }
  }

  #restaurants a {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  #restaurants figure img {
    height: 17rem;
  }

  .detail-menu {
    width: 90%;
  }

  .mymenu {
    display: flex;
  }

  .aliments {
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  .white-btn {
    width: 90%;
  }

  #menu img {
    height: 40rem;
  }

  #menu h3 {
    margin-left: 5rem;
    padding: 1.5rem;
  }

  .titre-menu h2 {
    margin-left: 4rem;
  }
}
