footer {
  background-color: #333333;
  color: #fff;
  padding: 1rem;
  @include text-font;
  li {
    list-style-type: none;
  }
  a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    margin-left: 0.5rem;
    &:hover {
      text-decoration: underline;
    }

    p {
      margin-left: 1rem;
    }
    i {
      margin: auto 0.5rem;
    }
  }
}

.logo-footer {
  width: 8rem;
  margin: 1rem 2rem;
  filter: invert(79%) sepia(99%) saturate(0%) hue-rotate(112deg)
    brightness(116%) contrast(100%);
}
